@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 1;
    top: 0;
    width: 80mm;
    padding-left: 2px;
  }
  .no-print {
    display: none;
  }
  @page {
    size: 80mm auto !important;
    margin: 0 !important;
  }
}
